.btn {
  position: relative;
  font-weight: 500;
  border-width: 1px;
  font-style: normal;
  letter-spacing: normal;
  margin: 0.4rem 0.8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.3s, 0.3s, 0.3s, 2s;
  transition-timing-function: ease-in-out;
  padding: .6rem 1.6rem;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  background-color: #150202;
  cursor: pointer;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  content: "";
  border: 1px solid;
  border-color: rgb(22, 21, 21);
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}

